<!DOCTYPE html>
<html>
  <head>
    <script src = "/javascripts/events.js" ></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Events</h1>
    <p>Welcome to the events page</p>
  </body>
</html>