<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id = "container">
        <a href = "#"><img src = "/images/flashmoblogo.png" id = "logo"/></a>
        <div id = "iconList">
            <a href = "/createEvent"><img src = "/images/createevent.png" /></a>
            <a href = "/events"><img src = "/images/findevents.png" /></a>
            <a href = "/user"><img src = "/images/myaccount.png" /></a>
            <a href = "/inbox"><img src = "/images/inbox.png" /></a>
        </div>
    </div>
</html>