<!DOCTYPE html>
<html>
  <head>
    <script type = "text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCb9wRumFqLsS70GZQ4wzouUmaETo2Mv84&sensor=false"></script>
    <script type = "text/javascript" src = "/javascripts/jquery-1.8.3.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <h1 id = "header"><a href = "#"><img src = "/images/flashmoblogo.png" id = "logo"/></a></h1>
        <span id = "logged_in">Welcome <%=username%><br/><a href = "/logout">Logout</a></span>
        <div id = "container">
            <% for(var i = 0; i < messages.length; i++){ %>
                <div>
                    <%= messages[i].created %>
                    <%= messages[i].content %>
                    <%= messages[i].from %>
                </div>
            <% } %>
        </div>
  </body>
</html>