<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap-responsive.css' />
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
  </head>
  <body class="login">
      <h1 id = "header"><a href = "/"><img src = "/images/flashmoblogo.png" id = "logo"/></a></h1>
    <div id="signupbox">
        <p id="loginmsg">Sign up for Flash Mobile</p>  
        <span class = "error"><%= message %></span>
        <form action="/signup" method="post" id="loginform">
            <div class="textbox" style="padding-top:50px;">
                <label for="username">Username:</label>
                <input type="text" name="username"/>
            </div>
            <div class="textbox">
                <label for="firstname">First Name:</label>
                <input type="text" name="firstname"/>
            </div>
            <div class="textbox">
                <label for="lastname">Last Name:</label>
                <input type="text" name="lastname"/>
            </div>
            <div class="textbox">
                <label for="zipcode">Home Zipcode:</label>
                <input type="text" name="zipcode"/>
            </div>
            <div class="textbox">
                <label for="password">Password:</label>
                <input type="password" name="password"/>
            </div>
            <div style="padding-top:20px;">
                <input type="submit" value="Sign Up!" class="btn btn-primary" id="libutton"/>
            </div>
        </form>
    </div>
  </body>
</html>