<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap-responsive.css' />
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
  </head>
  <body class="login">
    <div id="login">
        <h1>Flash Mob</h1> 
        <p id="loginmsg">Sign up for Flash Mobile</p>   
    </div>
    <div id="loginbox">
        <form action="/events" method="post" id="loginform">
            <div class="textbox" style="padding-top:50px;">
                <label for="username">Username:</label>
                <input type="text" name="username"/>
            </div>
            <div class="textbox">
                <label for="username">Password:</label>
                <input type="password" name="password"/>
            </div>
            <div style="padding-top:20px;">
                <input type="submit" value="Sign Up!" class="btn btn-primary" id="libutton"/>
            </div>
        </form>
    </div>
    
  </body>
</html>