body{
    text-align: center;
    margin: 0px 0px 0px 0px;
}
#header{
    margin: 0 auto;
    padding-top: 10px;
    background-color: #F2F2F2;
}
#logged_in{
    font-family: Arial;
    font-size: 13px;
    top: 0px;
    right: 0px;
    position: absolute;
    text-align: center;
    margin-right: 10px;
    margin-top: 5px;
}
#logo{
    position: relative;
}

#container{
    margin: 0 auto;
}

#iconList img{
    height: 12%;
    width: 12%;
    padding: 30px;
}

body.login {
	background: #fbfbfb;
	min-width: 0;
}


a {
  color: #00B7FF;
}

.login h1{
	text-align: center;
}

#loginmsg {
	text-align: center;
}

#loginbox{
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
	margin: 0 auto;
	width: 70%;
	height: auto;
}

#signupbox{
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
	margin: 0 auto;
	width: 70%;
    height: 500px;
}

#loginform label {
	margin-left: -155px;
}
#loginform input {
	display: inline-block;
}

.textbox {
	margin-top: 10px;
}

.textbox input {
	line-height: 30px;

}

#signup{
	margin-top: -5px;
}

.button {
	background-color: blue ;
}

.menubuttons{
	height: 100px;
	width: 100px;
	display: inline-block;
	margin-top: 125px;
	margin-left: 100px;
}

#createevent {
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
	margin: 0 auto;
	width: 70%;
	height: auto;
}

#eventdescbox{
	display: inline-block;
	float: left;
	padding: 10px 10px 10px 10px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
	text-align: left;
	width: auto;
}

.eventdesc {
	margin-top: 5px;

}

#attendees{
	margin-top: 5px;
	display: inline-block;
}

#attendees ul{
	list-style-type: none;
	width: 50%;
}

#attendees li {
	border: 1px dotted #999;
	border-width: 1px 0;
	margin: 5px 0;
}

#attendees li a{
	color: #990000;
	display: block;
	font: bold 120% Arial, Helvetica, sans-serif;
	padding: 5px;
	text-decoration: none;
}

#attendees li a:hover{
	background: #ffffcc;
}

#attendees a em{
	color: #333;
	display:block;
	font: normal 85% Verdana, Helvetica, sans-serif;
	line-height: 125%;
}

@media only screen and (max-device-width: 480px){

}

#eventsContainer{
    margin: 0 auto;
    margin-top: 40px;
    width: 1000px;
    max-height: 500px;
}

.col1{
    width: 450px;
    height: 500px;
    float: left;
}
.col2{
    width: 450px;
    height: 500px;
    float: left;
}
#eventsFilters{
    float: right;
    font-family: Arial;
    font-size: 12px;
    color: rgb(166,166,166);
}
#changeZipcode{
    width: 70px;
}
#eventsFilters div{
    padding: 3px;
}
#eventsFilters select,#eventsFilters input{
    border: 1px solid #cccccc;
}
#map_canvas{
    border: 1px solid #cccccc;
}
#eventList > div{
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid LightGray;
}
#eventList{
    overflow-y: scroll;
    margin-top: 52px;
    height: 450px;
    border: 1px solid LightGray;
    font-family: Arial;
}

.eventName{
    font-weight: bold;
}
.eventDate{
    color: rgb(166,166,166);
    font-weight: bold;
}
.eventDescription{
    color: rgb(166,166,166);
    white-space: nowrap;
    font-size: 12px;
    overflow: hidden;
    width: 400px;
    text-overflow: ellipsis;
}
.message{
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    height: 100px;
    font-family: Arial;
    font-size: 14px;
    color: rgb(166,166,166);
}
.messageCol1{
    width: 150px;
    float: left;
    text-align: center;
}
.messageCol2{
    padding-left: 50px;
    width: 400px;
    float: left;
    text-align: left;
}
.messageFrom{
    font-weight: bold;
}

.tableEventName{
    width: 100px;
}
.tableEventStart{
    width: 100px;
}
.tableEventDesc{
    display: block;
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#userEventTable{
    display: block;
    width: 600px;
    margin: 0 auto;
}
#eventShow{
    border: 1px solid LightGray;
    text-align: left;
    padding-left: 10px;
    font-family: Arial;
    font-size: 13px;
    position: relative;
    height: 450px !important;
}
.eventUser{
    text-align: left;
}
#sortableList{
    padding-left: 0px;
}
#joinEvent{
    right: 10px;
    top: 10px;
    position: absolute;
}
.eventdesc h1{
    font-size: 20px;
}
#joinEvent input{
    font-size: 13px;
}
#chat{
    font-size: 13px;
}
#connect{
    margin-top: 200px;
    font-size: 20px;
    height: 80px;
    width: 150px;
}
#chatOpts{
    margin: 0 auto;
    width: 500px;
}
#chats{
    width: 500px;
    border: 1px solid LightGray;
    height: 350px;
    overflow-y: scroll;
    text-align: left;
}
.wholeChat{
    border-bottom: 1px solid LightGray;
}
.chatUser{
    color: #33CCCC;
}